{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block title %}Sagi{% endblock %}

{% block nav_search %}{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content %}
    <form action="{% url 'search' %}" method="get" class="search-form">
        <label for="id_query" class="search-form__label">Sagi</label>
        <div class="search-form__control">
            <input class="search-form__input" id="id_query" type="text" name="iskatis"{% if search_query %} value="{{ search_query }}"{% endif %}>
            <button type="submit" class="search-form__button" aria-label="Sagi">
                <i class="bx bx-search"></i>
            </button>
        </div>
    </form>

{% if search_results %}
<ul>
    {% for result in search_results %}
    <li>
        <a href="{% pageurl result %}" class="search-result">
            <h4 class="search-result__title">{{ result }}</h4>
            {% if result.search_description %}
                <p class="search-result__description">{{ result.search_description }}</p>
            {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>

    {% if search_results.has_previous or search_results.has_next %}
    <div class="search-paginator">
        {% if search_results.has_previous %}
            <a
                href="{% url 'search' %}?iskatis={{ search_query|urlencode }}&amp;laubam={{ search_results.previous_page_number }}"
                class="search-paginator__link"
            ><i class="bx bx-arrow-left"></i> Frnā</a>
        {% endif %}

        {% if search_results.has_next %}
            <a
                href="{% url 'search' %}?iskatis={{ search_query|urlencode }}&amp;laubam={{ search_results.next_page_number }}"
                class="search-paginator__link"
            >Seqntī <i class="bx bx-arrow-right"></i></a>
        {% endif %}
    </div>
    {% endif %}



{% elif search_query %}
    <p class="large">Ēnu kankutjām.</p>
    <p>Sagi kam saniskasi urdai.</p>
{% else %}
    <p class="center">Fiki Iswām iskatim uferi</p>
{% endif %}
{% endblock %}
