@import url('https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap');

:root {
  --primary: #3668ab;
  --accent: #b52b2b;
  --accent-accent: #c84f4f;
  --green: #3c855c;
  --cream: #e6e2c8;
  --white: #f3f5f7;
  --black: #181a1b;
  --coal: #5b5d60;

  --page-width: 1024px;
  --page-gutter: 1.6rem;

  --font-stack: "TASA Explorer", -apple-system, Ubuntu, Helvetica, Arial, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box
}

::selection {
  background: var(--primary);
  color: var(--white);
}

*:focus {
  outline: 3px solid var(--accent-accent);
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: var(--black);
  background: var(--white);
}

body {
  line-height: 1.2;
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  font-family: var(--font-stack);
}

h1, h2, h3, h4 {
  font-weight: bold;
}

.accent {
  color: var(--accent);
}

header,
.footer,
.breadcrumb {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

header,
.footer,
.breadcrumb,
main {
  max-width: var(--page-width);
  margin-inline: auto;
  padding-inline: var(--page-gutter);
  padding-block: 1.2rem;
}

header {
  row-gap: 1.4rem;
}

main {
  padding-block-end: 4.8rem;
}

.footer {
  padding-block: 2.4rem 3.6rem;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
  column-gap: 1.6rem;
}

.footer__nav a {
  color: var(--black);
  text-decoration: underline;
}

.brand {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 1.2rem;
  user-select: none;
}

.brand__link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 1.2rem;
  text-decoration: none;
  color: var(--black);
}

.brand h1 {
  padding: 0;
  margin: 0;
  font-size: 2.4rem;
  border-right: 3px solid var(--accent);
  padding-inline-end: 1.2rem;
  font-weight: bold;
}

hr {
  padding: 0;
  margin: 0;
  width: 100%;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #ddd;
}

.header-nav {
  width: 100%;
}

@media (min-width: 768px) {
  .header-nav {
    width: fit-content;
  }
}

.header-nav ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.header-nav ul li:first-child {
  margin-inline-start: auto;
}

.header-nav ul li a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  padding: 1rem 1.2rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.breadcrumb ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  column-gap: 1.2rem;
}

.breadcrumb ul li {
  color: var(--coal);
}

.breadcrumb ul li:not(:first-of-type)::before {
  display: inline-block;
  padding-inline-end: 1.2rem;
  content: "›";
}

.breadcrumb ul li a {
  text-decoration: none;
  color: var(--black);
}

.breadcrumb ul li a i {
  display: block;
}

.main-and-aside {
  display: grid;
  grid-template-columns: 70% 30%;
  column-gap: 1.2rem;
  width: 100%;
}

.headline {
  padding-inline-start: 1.8rem;
  border-left: 3px solid var(--accent);
  margin-block-end: 2.4rem;
}

.headline__title {
  font-size: 3.6rem;
  font-weight: bold;
  text-wrap: pretty;
  margin-block-end: 1.2rem;
}

.headline__metadata {
  color: var(--coal);
  display: flex;
  flex-flow: row nowrap;
  column-gap: 1.2rem;
}

.headline__category {
  padding: .4rem .8rem;
  font-size: 1.4rem;
  color: var(--white);
  background: var(--accent);
}

.hero-image,
.hero-title {
  width: 100%;
  height: 340px;
  margin-block-end: 1.6rem;
}

.hero-title {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  row-gap: 1.4rem;
  padding-inline: var(--page-gutter);
}

@media (min-width: 768px) {
  .hero-title {
    display: grid;
    grid-template-columns: 33% 1fr;
    column-gap: 1.6rem;
    align-items: center;
  }
}

.hero-title--primary {
  background: var(--primary);
  color: var(--white);
}

.hero-title--primary ::selection {
  background: var(--white);
  color: var(--primary);
}

.hero-title--accent {
  background: var(--accent);
  color: var(--white);
}

.hero-title--accent ::selection {
  background: var(--white);
  color: var(--accent);
}

.hero-title--green {
  background: var(--green);
  color: var(--white);
}

.hero-title--green ::selection {
  background: var(--white);
  color: var(--green);
}

.hero-title--cream {
  background: var(--cream);
}

.hero-title__icon {
  font-size: 4.8rem;
  width: fit-content;
}

@media (min-width: 768px) {
  .hero-title__icon {
    font-size: 6.8rem;
    margin-inline-start: auto;
  }
}

.hero-title__icon i {
  display: block;
}

.hero-title__body h2 {
  font-size: 3.6rem;
  text-wrap: pretty;
}

.hero-title__body h2:not(:last-child) {
  margin-block-end: .8rem;
}

.button {
  text-decoration: none;
  color: var(--white);
  background: var(--primary);
  display: inline-flex;
  flex-flow: row nowrap;
  column-gap: .8rem;
  align-items: center;
}

.security-banner {
  background: #ddd;
  padding-block: .8rem;
}

.security-banner__icon {
  color: var(--primary);
}

.security-banner__dropdown .security-banner__chevron--closed {
  display: block;
}

.security-banner__dropdown .security-banner__chevron--open {
  display: none;
}

.security-banner__dropdown[open] .security-banner__chevron--open {
  display: block;
}

.security-banner__dropdown[open] .security-banner__chevron--closed {
  display: none;
}

.security-banner__label {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: .8rem;
  width: fit-content;
  cursor: pointer;
  margin-inline: auto;
  user-select: none;
}

.security-banner__label i {
  display: block;
}

.security-banner__label::marker {
  content: none;
}

.security-banner__body {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1.8rem;
  width: 100%;
  padding-block: 2.8rem;
  max-width: var(--page-width);
  padding-inline: var(--page-gutter);
  margin-inline: auto;
}

@media(min-width: 768px) {
  .security-banner__body {
    padding-block: 4.8rem;
    display: grid;
    grid-template-columns: 55% 1fr;
    column-gap: 3rem;
  }
}

.security-banner__body h2 {
  grid-area: heading;
  font-size: 2rem;
  margin-block-end: .8rem;
}

.security-banner__body p {
  grid-area: body;
  font-size: 1.8rem;
}

.large {
  font-size: 2rem;
}

.center {
  text-align: center;
}

.hero-search {
  max-width: var(--page-width);
  padding-inline: var(--page-gutter);
  padding-block: 2.4rem 3.8rem;
  margin-inline: auto;
}

.hero-search__heading {
  font-size: 3.4rem;
  font-weight: bold;
  text-wrap: pretty;
  margin-block-end: 1.6rem;
}

@media(min-width: 768px) {
  .hero-search__heading {
    font-size: 4.8rem;
    max-width: 75%;
  }
}

.search-form {
  margin-block: 1.6rem;
}

.search-form__control,
.hero-search__control {
  display: flex;
  flex-flow: row nowrap;
}

.search-form__input,
.hero-search__input {
  flex-grow: 1;
  border: 1px solid #ccc;
  padding-inline: 1.6rem;
  font-family: var(--font-stack);
  width: 100%;
}

.search-form__input {
  font-size: 1.6rem;
}

.hero-search__input {
  font-size: 2.2rem;
}

.search-form__label,
.hero-search__label {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  margin-block-end: 1.2rem;
}

.search-form__button,
.hero-search__button {
  width: fit-content;
  border: none;
  background: var(--accent);
  border-bottom: 4px solid var(--accent-accent);
  color: var(--white);
  padding: 1rem 1.6rem;
}

.search-form__button {
  font-size: 2rem;
}

.hero-search__button {
  font-size: 3.2rem;
}

.search-form__button:active,
.hero-search__button:active {
  border-bottom: none;
  border-top: 4px solid var(--accent);
}

.search-form__button i,
.hero-search__button i {
  display: block;
}

.search-result {
  display: block;
  padding: 1rem 1.2rem;
  border: 1px solid #ddd;
  border-left: 4px solid var(--accent);
  margin-block-end: 1.2rem;
  text-decoration: none;
  color: var(--black);
  background: #ffffff;
}

.search-result__title {
  font-size: 2rem;
}

.search-result__description {
  margin-block-start: .4rem;
}

.search-paginator {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
  padding-block-start: 1.6rem;
  margin-block-start: 1.6rem;
}

.search-paginator__link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: .8rem;
  text-decoration: none;
  color: var(--accent);
}

.search-paginator__link i {
  display: block;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.2rem;
  row-gap: 1rem;
  margin-block-end: 2.8rem;
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  border: 1px solid #ddd;
  background: #ffffff;
  padding: 1.8rem 1.4rem;
  display: flex;
  flex-flow: row nowrap;
  text-decoration: none;
  color: var(--black);
  min-height: 128px;
}

.card__icon {
  display: block;
  width: fit-content;
  margin-inline-end: 1rem;
  font-size: 3.2rem;
  color: var(--accent);
}

.card__title {
  font-size: 2rem;
  margin-block-end: .4rem;
}

.heading,
.index-category__heading {
  font-size: 2.4rem;
  font-weight: bold;
  padding-block-end: .8rem;
  margin-block-end: 1.6rem;
  border-bottom: 3px solid var(--accent);
  width: fit-content;
  text-wrap: pretty;
}

.heading:not(:first-child) {
  margin-block-start: 2.2rem;
}

.subheading {
  font-size: 2rem;
  font-weight: bold;
  margin-block: 2rem 1.4rem;
}

.article-stack {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 2rem;
}

@media (min-width: 768px) {
  .article-stack {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.2rem;
  }
}

@media (min-width: 1024px) {
  .article-stack {
    display: grid;
    grid-template-columns: 33% 33% 34%;
    column-gap: 2.4rem;
  }
}

.article-stack :first-child {
  grid-row: span 2;
  grid-column: span 2;
}

.article-stack a {
  text-decoration: none;
  color: var(--black);
}

.article-stack-item {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.article-stack-item__image {
  width: 100%;
  height: fit-content;
  margin-block-end: 1rem;
}

.article-stack :first-child .article-stack-item__image {
  margin-block-end: 1.8rem;
}

.article-stack-item__headline {
  font-size: 1.9rem;
  text-wrap: pretty;
  margin-block-end: 1rem;
}

.article-stack :first-child .article-stack-item__headline {
  font-size: 2.4rem;
  margin-block-end: 1.4rem;
  border-left: 3px solid var(--accent);
  padding-inline-start: 1.2rem;
}

.article-stack-item__excerpt {
  font-size: 1.4rem;
  flex-grow: 1;
}

.article-stack :first-child .article-stack-item__excerpt {
  font-size: 1.7rem;
}

.article-stack-item__metadata {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 1rem;
  margin-block-start: 1.2rem;
  font-size: 1.4rem;
  border-bottom: 1px solid #ddd;
}

.article-stack-item__category {
  background: var(--primary);
  color: var(--white);
  padding: .2rem .4rem;
  transform: translateX(-1px);
}

.article-stack-item__time {
  color: var(--coal);
}

.page-title {
  font-size: 3rem;
  font-weight: bold;
  text-wrap: pretty;
  margin-block-end: 1.6rem;
}

@media (min-width: 768px) {
  .page-title {
    font-size: 3.8rem;
  }
}

.content p,
.content ul {
  margin-block: 1.2rem 1.8rem;
}

.content strong {
  font-weight: bold;
}

.content em {
  font-style: italic;
}

.index-category {
  margin-block-end: 4.6rem;
}

.index-category__tagline {
  margin-block-end: 2.4rem;
}

.index-category__list {
  margin-block-start: 1.6rem;
}

@media (min-width: 768px) {
  .index-category__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.4rem;
    align-items: flex-start;
  }
}

.index-category__item {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 1.2rem;
  margin-block-end: 1.6rem;
}

.index-category__icon {
  font-size: 2.6rem;
  display: block;
  color: var(--accent);
}

.index-category__link {
  text-decoration: none;
}

.index-category__title {
  width: fit-content;
  font-size: 2rem;
  color: var(--accent);
  font-weight: bold;
}

.index-category__description {
  margin-block-start: .4rem;
  color: var(--coal);
}

.index-nav {
  margin-block-start: 2.6rem;
}

.index-nav__shortcuts {
  display: flex;
  flex-flow: row wrap;
  column-gap: 1.2rem;
  font-size: 2rem;
  margin-block-end: 2.8rem;
  width: fit-content;
  border-bottom: 1px solid #ccc;
  padding-block-end: 1.2rem;
}

.index-nav__shortcut {
  font-size: 2rem;
  color: var(--black);
}

.index-nav__item {
  margin-block-end: 1rem;
}

.index-nav__link {
  font-size: 1.8rem;
  color: var(--accent);
}

.index-nav__group {
  margin-block-end: 2.8rem;
}
